<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="queryText" placeholder="请输入查询条件"/>
                        </div> <button id="queryBtn" class="btn btn-default">查询</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span sec:authentication="name"></span><strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#" th:href="@{/logout}">注销</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Library</a>
                        </li>
                        <li class="active">
                            Data
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-2 column">
                </div>
                <div class="col-md-6 column">
                    <form>
                        <div class="form-group">
                            <label for="gcname">产品</label>
                            <input type="text" class="form-control" th:value="${good.name}" id="gcname" placeholder="产品名称">
                        </div>
                        <div class="form-group">
                            <label for="gcnumber">编号</label>
                            <input type="text" class="form-control" th:value="${good.number}" id="gcnumber" placeholder="产品编号">
                        </div>
                        <div class="input-group date form-group">
                            <input type="text" class="form-control" th:value="${good.startTime}" id="gcstartTime" placeholder="秒杀开始时间"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group date form-group">
                            <input type="text" class="form-control" th:value="${good.endTime}" id="gcendTime" placeholder="秒杀结束时间"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" th:value="${good.id}" id="goodid">
                        </div>
                        <button type="button" class="btn btn-success" id="updateBtn"><i class="glyphicon glyphicon-plus"></i>更新</button>
                        <button type="button" class="btn btn-danger" id="reset"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </form>
                </div>
                <div class="col-md-4 column">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="/layer/layer.js" th:src="@{/layer/layer.js}"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-datetimepicker.zh-CN.js}"></script>

<script>
    /*<![CDATA[*/
    var today = new Date();
    var format_td = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    $('.input-group.date').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language: 'zh-CN',
        todayBtn: 'linked',
        maxView: 3,
        minView: 1,
        autoClose: true,
        minuteStep: 1,
        startDate: format_td,
        pickerPosition: 'bottom-right'
    });

    $("#reset").click(function () {
        $("#gcname").val("");
        $("#gcnumber").val("");
        $("#gcstartTime").val("");
        $("#gcendTime").val("");
    });

    $("#updateBtn").click(function() {
        var gcname = $("#gcname").val();
        if (gcname === "") {
            layer.msg("商品名称不能为空，请输入", {time: 2000, icon: 5, shift: 6}, function () {
                // 设置页面焦点
                $("#gcname").focus();
            });
            return false;
        }
        var gcnumber = $("#gcnumber").val();
        if (gcnumber === "") {
            layer.msg("商品编号不能为空，请输入", {time: 2000, icon: 5, shift: 6}, function () {
                $("#gcnumber").focus();
            });
            return false;
        }else if (gcnumber.length > 10){
            layer.msg("编号长度不能大于11，请输入", {time: 2000, icon: 5, shift: 6}, function () {
                $("#gcnumber").focus();
            });
            return false;
        }
        var index = 0;
        $.ajax({
            type : "POST",
            url  : "/admin/update",
            data : {
                "name" : gcname,
                "number" : gcnumber,
                "startTime" : $("#gcstartTime").val(),
                "endTime" : $("#gcendTime").val(),
                "id" : $("#goodid").val(),
            },
            beforeSend : function() {
                index = layer.load(2, {time: 10*1000});
            },
            success : function(result) { // 浏览器请求状态：200, 302, 404, 403,500, 503
                layer.close(index);
                if ( result.success ) { // 业务成功或者失败
                    layer.msg("商品信息修改成功", {time:2000, icon:6}, function(){
                        window.location.href = "/admin/productList";
                    });
                } else {
                    layer.msg("商品信息修改失败，请重新输入", {time:2000, icon:5, shift:6}, function(){
                    });
                }
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>