<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="queryText" placeholder="请输入查询条件"/>
                        </div> <button id="queryBtn" class="btn btn-default">查询</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span sec:authentication="name"></span><strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#" th:href="@{/logout}">注销</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
            <h3 class="text-center text-info">
                商品展示---管理中心
            </h3>
            <div class="row clearfix">
                <div class="col-md-10 column">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Library</a>
                        </li>
                        <li class="active">
                            Data
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 column">
                    <a class="btn btn-primary btn-large" href="#" th:href="@{~/admin/addDescription}">添加商品</a>
                </div>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>
                        序号
                    </th>
                    <th>
                        产品
                    </th>
                    <th>
                        编号
                    </th>
                    <th>
                        交付时间
                    </th>
                    <th>
                        秒杀开始时间
                    </th>
                    <th>
                        秒杀结束时间
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody id="dataBody">
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-3 column"></div>
                <div class="col-md-6 column">
                    <ul class="pagination">
                    </ul>
                </div>
                <div class="col-md-3 column"></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="/layer/layer.js" th:src="@{/layer/layer.js}"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var likeflg = false;
    $(function () {
        pageQuery(1);


        $("#queryBtn").click(function(){
            var queryText = $("#queryText").val();
            if ( queryText !== "" ) {
                likeflg = true;
            }
            pageQuery(1);
        });
    });

    function pageQuery(pageno){
        var jsonData = {"pageno":pageno, "pagesize":7};
        var index = 0;
        if (likeflg === true){
            jsonData.queryText = $("#queryText").val();
        }
        $.ajax({
            type : "POST",
            url  : "/admin/pageQuery",
            data : jsonData,
            beforeSend : function() {
                index = layer.load(2, {time: 10*1000});
            },
            success : function (result) {
                layer.close(index);
                if ( result.success ) {
                    var pageObj = result.data;
                    var datas = pageObj.datas;

                    var content = "";
                    for ( var i = 0; i < datas.length; i++ ) {
                        var data = datas[i];
                        content += '<tr>';
                        content += '  <td>'+(i+1)+'</td>         ';
                        content += '  <td>'+data.name+'</td>              ';
                        content += '  <td>'+data.number+'</td>              ';
                        content += '  <td>'+data.createTime+'</td>            ';
                        content += '  <td>'+data.startTime+'</td>            ';
                        content += '  <td>'+data.endTime+'</td>            ';
                        content += '  <td>                             ';
                        content += '      <button type="button" onclick="window.location.href=\'/admin/edit?'+'id='+data.id+'\'" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-pencil"></i></button>';
                        content += '	  <button type="button" onclick="deleteGoods('+data.id+', \''+data.name+'\')" class="btn btn-danger btn-xs"><i class=" glyphicon glyphicon-remove"></i></button>';
                        content += '  </td>';
                        content += '</tr>';
                    }
                    $("#dataBody").html(content);

                    var totalno = pageObj.totalno;
                    var pageContent = "";
                    if ( pageno > 1 ) {
                        pageContent += '<li><a href="#" onclick="pageQuery('+(pageno-1)+')">上一页</a></li>';
                    }
                    for ( var i = 1; i <= totalno; i++ ) {
                        if ( pageno === i ) {
                            pageContent += '<li class="active"><a href="#">'+i+'</a></li>'
                        } else {
                            pageContent += '<li><a href="#" onclick="pageQuery('+i+')">'+i+'</a></li>'
                        }
                    }
                    if ( pageno < totalno ) {
                        pageContent += '<li><a href="#" onclick="pageQuery('+(pageno+1)+')">下一页</a></li>';
                    }

                    $(".pagination").html(pageContent);
                } else {
                    layer.msg("商品信息分页查询失败", {time:2000, icon:5, shift:6}, function(){
                    });
                }
            }

        });
    }
    function deleteGoods(id,name) {
        layer.confirm("删除商品信息【"+name+"】，是否继续？",  {icon: 3, title:'提示'}, function(cindex){
            // 确定
            var index = 0;
            $.ajax({
                type : "POST",
                url  : "/admin/delete",
                data : {
                    "id" : id
                },
                beforeSend : function() {
                    index = layer.load(2, {time: 10*1000});
                },
                success : function(result) {
                    layer.close(index);
                    if ( result.success ) {
                        layer.msg("商品信息删除成功", {time:2000, icon:6}, function(){
                            pageQuery(1);
                        });
                    } else {
                        layer.msg("商品信息删除失败", {time:2000, icon:5, shift:6}, function(){
                        });
                    }
                }
            });
            layer.close(cindex);
        }, function(cindex){
            // 取消
            layer.close(cindex);
        });
    }
    /*]]>*/
</script>
</html>