<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.seckill.Dao.mapper.GoodsMapper" >
    <select id="queryStockById" resultType="int">
        select stock from tb_goods where id=#{id}
    </select>
    <select id="queryPageCount" resultType="int">
        select
        count(*) from tb_goods
        <where>
            <if test="queryText != null">
                and name like concat('%',#{queryText},'%')
            </if>
        </where>;
    </select>

    <select id="queryPageData" resultType="com.zz.seckill.bean.Goods">
        select * from tb_goods
        <where>
            <if test="queryText != null">
                and name like concat('%',#{queryText},'%')
            </if>
        </where>
        order by create_time desc
        limit #{start},#{size};
    </select>
    <select id="queryById" resultType="com.zz.seckill.bean.Goods">
        select * from tb_goods where id=#{id}
    </select>
    <insert id="insertGoodsCategory">
        insert into tb_goods (name,number,create_time,start_time,end_time,description_id,version,stock) values (
            #{name},#{number},#{createTime},#{startTime},#{endTime},#{descriptionId},0,#{stock}
        )
    </insert>
    <update id="updateGoods">
        update tb_goods
        set name = #{name}, number = #{number},start_time = #{startTime},end_time = #{endTime},version=version+1,stock=#{stock}
        where id = #{id}
    </update>
    <update id="updateStockById">
        update tb_goods
        set stock = stock-1 where id = #{id}
    </update>
    <delete id="deleteGoodsById">
        delete from tb_goods where id=#{id}
    </delete>
</mapper>