<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<h2 ></h2>
<h2 ></h2>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" id="queryText" placeholder="请输入查询条件"/>
                        </div> <button id="queryBtn" class="btn btn-default">查询</button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span sec:authentication="name"></span><strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#" th:href="@{/logout}">注销</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
            <h3 class="text-center text-info">
                商品详情
            </h3>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Library</a>
                        </li>
                        <li class="active">
                            Data
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 column">
            <img style="width: 100%;height: auto" th:src="@{${des.iconpath}}" />
            <p></p>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4 th:text="${des.iconpath}">
                    注意!
                </h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="jumbotron well">
                <h2 th:text="${goods.name}">
                </h2>
                <p th:text="${des.introduce}">
                </p>
                <p>
                    <a class="btn btn-primary btn-warning" href="#" id="kill">抢购>>>></a>
                </p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">当前时间：<span id="dateTime"></span></li>
                <li class="list-group-item">开始时间：<span th:text="${goods.startTime}" id="start"></span></li>
                <li class="list-group-item">结束时间：<span th:text="${goods.endTime}" id="end"></span></li>
            </ul>
            <input type="hidden" th:value="${goods.id}" id="goodid">
        </div>
    </div>
</div>
</body>
<script src="/static/jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="/layer/layer.js" th:src="@{/layer/layer.js}"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script>
    Date.prototype.format = function (fmt) {
        var o = {
            "y+": this.getFullYear, //年
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds() //秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    setInterval("document.getElementById('dateTime').innerHTML = (new Date()).format('yyyy-MM-dd hh:mm:ss');", 1000);

    $(function () {
        $("#kill").click(function () {
            var now = (new Date()).format('yyyy-MM-dd hh:mm:ss');
            var start = document.getElementById("start").innerHTML;
            var end = document.getElementById("end").innerHTML;

            var nowDate = now.substring(0,10).split('-');
            now = nowDate[1]+'-'+nowDate[2]+'-'+nowDate[0]+' '+now.substring(10,19);
            var startDate = start.substring(0,10).split('-');
            start = startDate[1]+'-'+startDate[2]+'-'+startDate[0]+' '+start.substring(10,19);
            var endDate = end.substring(0,10).split('-');
            end = endDate[1]+'-'+endDate[2]+'-'+endDate[0]+' '+end.substring(10,19);
            var display_s = (Date.parse(now)-Date.parse(start))/3600/1000;
            var display_e = (Date.parse(now)-Date.parse(end))/3600/1000;

            var index = 0;
            if (display_s>0 && display_e<0){
                $.ajax({
                    type : "POST",
                    url  : "/member/killSuccess",
                    data : {
                        "id" : $("#goodid").val()
                    },
                    beforeSend : function() {
                        index = layer.load(2, {time: 10*1000});
                    },
                    success : function(result) {
                        layer.close(index);
                        if ( result.success ) { // 业务成功或者失败
                            layer.msg("抢购成功", {time:1000, icon:6}, function(){
                            });
                        } else {
                            layer.msg("抢购失败", {time:2000, icon:5, shift:6}, function(){
                            });
                        }
                    }
                })
            }else {
                layer.msg('已过抢购时间或还没有开始！！', {icon: 5});
            }


        })
    })
</script>

</html>