<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Example page header <small>Subtext for header</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<script src="/jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="/layer/layer.js" th:src="@{/layer/layer.js}"></script>
<script src="/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<script>
    function dologin() {
        var loginacct = $("#loginacct").val();
        if( loginacct === ""){
            //alert("登录账号不能为空，请输入");
            layer.msg("登录账号不能为空，请输入",{time:1000,icon:5,shift:6},function () {
                //回调方法，消息关闭后执行逻辑
            });
            return;
        }

        var userpswd = $("#userpswd").val();
        if( userpswd === ""){
            layer.msg("登录密码不能为空，请输入",{time:1000,icon:5,shift:6},function () {
                //回调方法，消息关闭后执行逻辑
            });
            return;
        }

        // AJAX执行登录
        var index = 0;
        $.ajax({
            type : "POST",
            url  : "/admin/doAjaxLogin",
            data :{
                "loginacct" : loginacct,
                "userpswd" : userpswd
            },
            beforeSend : function () {
                index = layer.load(2,{time : 10*1000});
            },
            success : function (result) {
                layer.close(index);
                if(result.success){
                    window.location.href = "/";
                }else{
                    layer.msg("message",{time:1000,icon:5,shift:6},function () {
                        //回调方法，消息关闭后执行逻辑
                    });
                }
            }

        })

    }
</script>
</body>
</html>